<%- include('./includes/head.ejs') %>
<style>
  h3 {
    margin: 30px 0 10px 0;
  }

  .pagination {
    margin: 20px;
    text-align: center;
    justify-content: center;
  }

  .pagination a {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0 1rem;
  }

  .pagination a:hover,
  .pagination a:active,
  .pagination a.active {
    color: white;
  }
</style>

</head>
<body>
    <div id="main-div" class="container col-12 col-sm-10 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
    <%- include('./includes/nav.ejs') %>

    <div class="text-center text-white py-5">
      <h1>Historico de envio</h1>
      <% if (historico.length < 1) { %>
        <h3 class="p-3 text-info">
          Nenhum email enviado no momento!
        </h3>
      <% } else { %>
        <ul class="px-3">
          <% historico.forEach(h => { %>
            <li class="p-3">
              Data envio: <%= h.data %> <br>
              Destino: <%= h.destino %> <br>
              Protocolo: <span class="text-info"><%= h.protocol %></span> <br>
              <% if (h.state === 'success') { %>
                Status: <span class="text-success">Enviado</span> <br>
              <% } %>
              <% if (h.state === 'waiting') { %>
                Status: <span class="text-warning">Pendente</span> <br>
              <% } %>
              <% if (h.state === 'failed') { %>
                Status: <span class="text-danger">Falha ao enviar</span> <br>
              <% } %>
              Tempo decorrido: <%= h.time %> milisegundos
            </li>
          <% }); %>
        </ul>

        <!-- ================ paginacao ================ -->
        <section class="pagination">
          <% if ( currentPage !== 1 && previousPage !== 1 ) { %>
            <a href="<%= path %>?page=1">Primeira Pagina</a>
          <% } %>

          <% if ( hasPreviousPage ) {%>
            <a href="?page=<%= previousPage %>"><%= previousPage %></a>
          <% } %>

          <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>

          <% if ( hasNextPage ) {%>
            <a href="?page=<%= nextPage %>"><%= nextPage %></a>
          <% } %>

          <% if ( lastPage !== currentPage && lastPage !== nextPage ) {%>
            <a href="?page=<%= lastPage  %>">Ultima Pagina</a>
          <% } %>
        </section>
        <!-- =========================================== -->

        <div class="py-3 border border-primary">
          <h4 class="p-2 text-success">Resultado de desempenho para cada protocolo</h4>
          <p class="p-1">
            Tempo médio de envio pelo SMTP: <span class="text-warning"><%= tempoMedioSmtp %> milisegundos</span>
          </p>
          <p class="p-1">
            Tempo médio de envio pelo HTTP: <span class="text-warning"><%= tempoMedioHttp %> milisegundos</span>
          </p>
        </div>
      <% } %>
    </div>

    <script src="/js/d3.v5.min.js" charset="utf-8"></script>
    <script src="/js/c3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <% if (historico.length > 0) { %>
      <div class="row">
        <div class="col-sm">
          <h3 class="text-center text-white">Gráfico</h3>
          <div id="chart" class="bg-white"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h3 class="text-center text-white">SMTP histograma</h3>
          <div id="smtp" class="bg-white"></div>
        </div>
        <div class="col-sm">
          <h3 class="text-center text-white">HTTP histograma</h3>
          <div id="http" class="bg-white"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h3 class="text-center text-white">SMTP diagrama caixa</h3>
          <div id="box-smtp" class="bg-white"></div>
        </div>
        <div class="col-sm">
          <h3 class="text-center text-white">HTTP diagrama caixa</h3>
          <div id="box-http" class="bg-white"></div>
        </div>
      </div>

      <!-- <h3 class="text-center text-white">Gráfico</h3>
      <div id="chart" class="bg-white"></div> -->

      <!-- <h3 class="text-center text-white">SMTP histograma</h3>
      <div id="smtp" class="bg-white"></div> -->

      <!-- <h3 class="text-center text-white">HTTP histograma</h3>
      <div id="http" class="bg-white"></div> -->

      <!-- <h3 class="text-center text-white">SMTP diagrama caixa</h3>
      <div id="box-smtp" class="bg-white"></div> -->

      <!-- <h3 class="text-center text-white">HTTP diagrama caixa</h3>
      <div id="box-http" class="bg-white"></div> -->

      <script>
        const chart = c3.generate({
          bindto: '#chart',
          data: {
            columns: [
              ['SMTP', <%= arrayOfTimeSmtp  %>],
              ['HTTP', <%= arrayOfTimeHttp %>]
            ],
            axes: {
              data2: 'y2'
            },
            types: {
              data2: 'bar'
            }
          },
          axis: {
            y: {
              label: {
                text: 'Tempo em milisegundos',
                position: 'outer-middle'
              }
            }
          }
        });

        const x1 = [<%= arrayOfTimeSmtp  %>];
        const x2 = [<%= arrayOfTimeHttp %>];

        const SMTP = {
          x: x1,
          type: "histogram",
          name: 'SMTP',
          opacity: 0.5,
          marker: {
            color: 'blue',
          },
        };

        const HTTP = {
          x: x2,
          type: "histogram",
          name: 'HTTP',
          opacity: 0.6,
          marker: {
            color: 'darkorange',
          },
        };

        const layout = {
          barmode: "overlay",
          xaxis: {title: "Tempo em milisegundos"},
          yaxis: {title: "Quantidade emails"}
        };

        Plotly.newPlot('smtp', [SMTP], layout);
        Plotly.newPlot('http', [HTTP], layout);

        const SMTPBox = {
          y: x1,
          type: 'box',
          marker: {
            color: 'blue',
          },
          name: 'SMTP'
        };

        const HTTPBox = {
          y: x2,
          type: 'box',
          marker: {
            color: 'darkorange',
          },
          name: 'HTTP'
        };

        Plotly.newPlot('box-smtp', [SMTPBox]);
        Plotly.newPlot('box-http', [HTTPBox]);
      </script>
    <% } %>
  </div>

  <%- include('./includes/footer.ejs') %>
