  <%- include('./includes/head.ejs') %>

  </head>
  <body>
    <div id="main-div" class="container col-12 col-sm-10 col-md-8 col-lg-4">
      
      <%- include('./includes/nav.ejs') %>

      <div class="login-form text-white">
        <h2 class="text-center">
          Enviar email
        </h2>
        <h3 class="text-danger text-center py-3">
          <%= error %>
        </h3>
        <form
          action="/sendemail"
          method="POST"
        >
          <div class="form-group">
            <label for="exampleInputEmail1">Destino:</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="ex: 123abc@gmail.com"
              name="destiny"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mensagem:</label>
            <textarea
              style="height: 150px;"
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Sua mensagem aqui!"
              name="message"
            >
            </textarea>
          </div>
          <%- include('./includes/_csrf.ejs') %>
          <button type="submit" class="btn btn-primary btn-entrar">
            Enviar
          </button>
        </form>
      </div>

      <%- include('./includes/footer.ejs') %>